<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <object th:include="fragments/fragment  ::  css" th:remove="tag"></object>
        <object th:include="fragments/fragment  ::  js" th:remove="tag"></object>
        <title th:replace="fragments/fragment  ::  title(title='SIPAS')"></title>
    </head>

    <body style="font-family: 'Montserrat', sans-serif; color">
        <nav th:replace="fragments/fragment :: navbar(title='SIPAS')"></nav>
        <div class="row mt-5 ">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Detail Data Pasien
                    </div>

                    <div class="card-body">
                        <a th:href="@{/}"> Kembali ke Beranda</a>

                        <table>
                            <tbody th:object = "${pasien}">
                                <tr>
                                    <td> Nama </td>
                                    <td th:text = "${pasien.nama}"></td>
                                </tr>

                                <tr>
                                    <td> NIK </td>
                                    <td th:text = "${pasien.nik}"></td>
                                </tr>

                                <tr>
                                    <td> Kode </td>
                                    <td th:text = "${pasien.kode}"></td>
                                </tr>

                                <tr>
                                    <td> Jenis Kelamin </td>
                                    <td th:text = "${pasien.jenisKelamin}"></td>
                                </tr>

                                <tr>
                                    <td> Tanggal Lahir </td>
                                    <td th:text = "${pasien.tanggalLahir}"></td>
                                </tr>

                                <tr>
                                    <td> Tempat Lahir </td>
                                    <td th:text = "${pasien.tempatLahir}"></td>
                                </tr>

                                <tr>
                                    <td> Emergency Contact </td>
                                    <td th:text = "${pasien.emergencyContact.nama}"></td>
                                    <td> - </td>
                                    <td th:text = "${pasien.emergencyContact.nik}"></td>
                                    <td> - </td>
                                    <td th:text = "${pasien.emergencyContact.noHp}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Asuransi Milik Pasien
                    </div>

                    <div class="card-body">
                        <tbody>
                            <tr th:each="data, iterationStatus : *{pasien.listPasienAsuransi}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td th:text="${data.asuransi.nama}"></td>
                                <br>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
